# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Logs
*.log

# IDE settings
.idea/
.vscode/

# Docker volumes (don’t commit persistent data)
db_data/
prometheus_data/

# OS-specific files
.DS_Store
Thumbs.db
